.g-doc{margin: 0 auto; width: 1280px; font: 12px "Microsoft YaHei";}

header{ width: 100%; overflow: auto; padding-top: 10px; }
header>.book1{float: left; margin-left: 50px; width: 31px; height: 31px;background: url(../img/tubiao1.png) no-repeat -5px -85px;}
header>span{display: inline-block; margin: 5px 0 0 15px; font-size: 18px;}
header>.nav1{display: inline-block; margin: 0 0 0 600px; padding-bottom: 10px; border-bottom: 3px solid #f00; width: 60px; text-align: center; font-size: 14px; color: #f00;}
header ul{display: inline-block;}
header li{float: left; margin-right: 30px; font-size: 14px;}
header ul>.l1{margin-left: 30px;}
header ul>.l2{color: #f00;}

.m-one{position: relative;}
.m-one .one-d1{position: absolute; top: 0; left: 0; width: 1280px; height: 854px; background-color: #000; opacity: .2;}
.m-one p{ position: absolute; left: 116px; color: #fff; }
.m-one .one-p1{ top: 233px; font-size: 60px;}
.m-one .one-p2{top: 310px; left: 126px; font-size: 21px;}
.m-one .one-p3{top: 343px; left: 126px; font-size: 21px;}
.m-one button{position: absolute; top: 429px; left: 126px; width: 331px; height: 64px; color: #fff; font-size: 30px; border:none; background-color: #f33;}

.m-two{width: 100%;height: 249px;}
.m-two>div{position: relative; float: left; height: 100%;width: 320px;}
.m-two .tu{position: absolute; top: 46px; left: 146px; width: 42px; height: 42px; background: url(../img/tubiao1.png) no-repeat 0 0;}
.m-two .tu2{ background: url(../img/tubiao1.png) no-repeat -60px 0;}
.m-two .tu3{ background: url(../img/tubiao1.png) no-repeat 0 -43px;}
.m-two .tu4{ background: url(../img/tubiao1.png) no-repeat -60px -43px;}
.m-two .wen1{position: absolute; top: 134px; left: 88px; width: 234px;height: 44px;border-right: 1px solid #888; color: #666; text-align: center;}
.m-two .wen1>span{display: inline-block; margin-right: 88px;}
.m-two .wen2{border-right: none;}

.m-three{position: relative; width: 100%; height: 361px; background-color: #ededed; text-align: center;}
.m-three>div{position: absolute; top: 90px; left: 595px; width: 91px; height: 92px; background: url(../img/tubiao2.png) no-repeat 0 -108px;}
.m-three>span{display: inline-block; margin-top: 250px; font-size: 54px; color: #a1a1a1;}

.m-four{ width: 100%; height: 338px; background: url(../img/bd2.jpg) no-repeat; text-align: center;}
.m-four p{ color: #fff; }
.m-four .p1{ padding-top: 35px; font-size: 21px; line-height: 41px; }
.m-four .p2{font-size: 15px;}
.m-four .biao1{margin-top: 70px; margin-left: 20px; width: 236px; height: 36px; border: none; color: #666; }
.m-four .biao2{ background-color: #be4e48; color: #fff; }

.m-five{ position: relative; width: 100%; height: 606px; background-color: #f7f7f7; }
.m-five>img{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.m-five div,.m-five span{ position: absolute; }
.m-five .d1,.m-five .d2,.m-five .d3,.m-five .d4{ width: 219px;height: 337px;background-color: #fff;border: 1px solid #ddd; }
.m-five .d1{top: 110px;left: 148px;}
.m-five .d2{top: 158px;left: 403px;}
.m-five .d3{top: 110px;left: 659px;}
.m-five .d4{top: 110px;left: 914px;}
.m-five .s1,.m-five .s2,.m-five .s3,.m-five .s4{display: inline-block; width: 92px; height: 50px; text-align: center;}
.m-five span{ color: #666; }
.m-five span p{font-size: 15px; color: #000;}
.m-five .ss3{width: 155px;}
.m-five .ss2{font-size: 25px;}
.m-five .s1{top: 458px;left: 214px;}
.m-five .s2{top: 105px;left: 430px;}
.m-five .s3{top: 458px;left: 715px;}
.m-five .s4{top: 458px;left: 970px;}

.m-six{position: relative; width: 100%; height: 567px;}
.m-six .six-tu1{ width: 851px; height: 100%; background: url(../img/bd4.jpg) no-repeat; text-align: center;}
.m-six .six-tu1 p{color: #fff;  line-height: 1em;}
.m-six .six-tu1 .p1{padding-top: 128px; font-size: 50px;}
.m-six .six-tu1 .p2{font-size: 160px;}
.m-six .six-tu1 .p3,.six-tu1 .p4{font-size: 22px;padding-bottom: 20px;}
.m-six .six-tu2{ position: absolute;top: 0;right: 0; height: 100%;width: 430px; text-align: center; }
.m-six .six-tu2 .p1{ margin-top: 130px; font-size: 21px; line-height: 43px; }
.m-six .six-tu2 .p2{margin: 0 40px; font-size: 10px; line-height: 18px; color: #666;}
.m-six .six-tu2 .b1{ margin-top: 40px; width: 80px; height: 30px; color: #f00; background-color: #fff; border: 1px solid #f00;}
.m-six .six-tu2>div{display: inline-block; margin-top: 30px; width: 10px; height: 10px; border-radius: 50%; border: 1px solid #666;}
.m-six .six-tu2>div:hover{background-color: #888;}
.m-six .san{position: absolute; top: 267px; left: 826px; border-top: 12px solid transparent; border-bottom: 12px solid transparent; border-right: 24px solid #fff;}

.m-seven{ position: relative; width: 100%; height: 521px; text-align: center; }
.m-seven>div{float: left; width: 426px; height: 521px;}
.m-seven .seven .pp{margin-top: 166px;}
.m-seven .seven .p1{ font-size: 21px; line-height: 30px;}
.m-seven .seven button{margin-top: 20px; border: 1px solid #f00; width: 100px; height: 30px; background: #fff;}
.m-seven .d1{background-color: #e74f4d; color: #fff;}
.m-seven .d1 button{ background-color: #e74f4d; color: #fff; border: 1px solid #fff; }
.m-seven .san{ position: absolute; top: 246px; left: 850px; width: 0; height: 0; border-top: 12px solid transparent; border-bottom: 12px solid transparent; border-left: 24px solid #fff;  }

.m-eight{ width: 100%; height: 620px; text-align: center; }
.m-eight .p1{ margin-top: 110px; font-size: 21px; line-height: 30px; color: #000; }
.m-eight>p{ color: #888; }
.m-eight .biao{ width: 1028px; height: 308px; margin: 90px auto 0; }
.m-eight .wen{ float: left; height: 100%; width: 314px; margin-right: 30px; }
.m-eight .wen>div{ width: 100%; height: 102px; text-align: left; margin-bottom: 10px;}
.m-eight .wen h2{ font-size: 14px; font-weight: bold; }
.m-eight .wen p{ font-size: 12px; line-height: 21px; color: #888; margin-top: 25px; }
.m-eight .wen span{ display: inline-block; margin-left: 300px; font-size: 10px; }
.m-eight .dan input,.dan textarea,.dan button{ background-color: #ececec; border: none; margin-right: 13px; }
.m-eight .dan textarea{ width: 639px; height: 121px; }
.m-eight .dan button{ width: 639px; height: 41px; }
.m-eight .dan p{ margin-bottom: 13px; }
.m-eight .dan input{ width: 311px; height: 41px;  }

.m-night{ width: 100%; height: 361px; background-color: #32363e; text-align: center; }
.m-night p{ color: #fff; }
.m-night .p1{ padding-top: 92px; font-size: 21px; line-height: 48px; }
.m-night .p2{ margin: 0 auto; width: 600px; }
.m-night .p3{ margin: 30px 0; }
.m-night .p3 input{ width: 431px; height: 41px; border: none; }
.m-night .p3 button{ width: 81px; height: 41px; border: none; background-color: #6f7178;}
.m-night>div{ margin: 0 auto; width: 230px; height: 26px; }
.m-night .d1{ float: left; width: 97px; height: 100%; background: url(../img/tubiao2.png) no-repeat; }
.m-night .d2{ float: right; width: 100px; height: 100%; background: url(../img/tubiao2.png) no-repeat 5px -26px; }

footer{ width: 100%; height: 58px; background-color: #2f2f39; }
footer p{ color: #fff; font-size: 10px; line-height: 58px; }
footer .p1{ float: left; margin-left: 40px; }
footer .p2{ float: right; margin-right: 40px; }